@import '../../styles/mixins/grid';
@import '../../styles/mixins/user-image';
@import '../../styles/base/variables';
@import '../../styles/mixins/breakpoints';

.m-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:2rem;
  flex: 1;
  @include breakpoint(small-only){
    justify-content: flex-start;
    
  }

  &__wrapper {
  @include flexColumn(space-between, flex-start);

  > img {
    height:28px;
    margin: 2rem 0;
  }
}
}




.l-item {
  &__message {
  max-width: 440px !important;
 
  &:nth-child(2) {
    margin-left: 5rem;
      @include breakpoint(small-only){
         margin-left: 0rem;
      }
  }
}
  &__content {
    font-size:$lg;
    line-height:1.5rem;
       @include breakpoint(small-only){
        font-size: $md;
      }
  }

    &__user {
      margin-top: 1rem;
      display: flex;
      align-items: center;

       @include breakpoint(small-only){
        margin-left: 2rem;
      }

      &--img {
       @include userImage(2px, 40px);
      } 
      
      span {
        font-size: 1rem;
        margin-left: 0.75rem;
      }
    }

}
