@mixin flexColumn($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexRow($justify) {
  display: flex;
  flex-flow: row wrap;
  justify-content: $justify;
  align-items: center;
}