@import '../../styles/mixins/user-image';
@import '../../styles/base/variables';
@import '../../styles/mixins/grid';


.sm {
  &__wrapper {
    background: $black;
    padding: 1.5rem;
    align-self: center;
    text-align: center;
    position: relative;
    border-radius: $global_radius_md;
    @include flexColumn(center, center);
    margin-right: 0.5rem;
  }

  &__button--singout {
    background: transparent;
    border: 0;
    color: $text;

    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    transition: color 0.25s ease-in-out;
    cursor: pointer;

    &:hover {
      color: $secondary;
      transition: color 0.25s ease-in-out;
    }
  }
}


.sm-user__information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sm-user__img {
  @include userImage(3px, 100px);
}

.sm-user__name {
  font-size: 24px;
  line-height: 30px;
  margin-top: 16px;
}

.sm-user__github {
 @include flexRow(center);
 gap: 0.5rem;
  margin-top: 0.5rem;
  color: $secondary;

  img {
    margin-right:0.5rem;
  }
}

.sm__form {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-top: 2.5rem;
  border-radius: $global_radius_sm;
  background: $black;

  label {
    padding: 1rem 1.5rem;
    font-size: $md;
    background: $black;
    font-weight: $semi_bold;
    text-align: left;
  }

  textarea {
    background: transparent;
    border: 0;
    padding: 24px;
    resize: none;
    height: 160px;
    font-size: 16px;
    line-height: 24px;
    color: $info;
   
    &:is(:focus, :active, :focus-within) {
      outline: 1px solid $secondary;
      border-radius: $global_radius_sm;
    }
  }


  &::placeholder {
    color: $text;
  }

 

  button[type='submit'] {
  align-self: flex-end;
  border: 0;
  background: $highlight;
  cursor: pointer;
  margin: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: $global_radius_sm;
  color: $info;
  font-size: $sm;
  font-weight: $semi_bold;
  text-transform: uppercase;
  transition: filter 0.25s ease-in-out;

  &:hover {
    filter: brightness(0.9);
    transition: filter 0.25s ease-in-out;
  }
  }
}